<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Categoría</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              formControlName="name"
              matInput
              placeholder="Nombre"
            />
            <mat-error *ngIf="nameField.hasError('required')">
              Este campo es requerido
            </mat-error>
            <mat-error *ngIf="nameField.hasError('not_available')">
              Ya existe una categoría con ese nombre
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <img *ngIf="imageField.value" [src]="imageField.value" alt="Imagen" />
          <input
            (change)="handleUpload($event)"
            type="file"
            placeholder="Image"
            #fileUpload
            class="file-input"
          />
          <div class="file-upload">
            {{ imageField.value ? "" : "No file uploaded yet." }}

            <button
              mat-mini-fab
              color="primary"
              class="upload-btn"
              (click)="fileUpload.click()"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <mat-error
            *ngIf="imageField.hasError('required') && imageField.touched"
          >
            Este campo es requerido
          </mat-error>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">Guardar categoría</button>
    </mat-card-actions>
  </mat-card>
</form>
